/UD3/02-CylinderCircle-Herentzia/build/
/03-FutbolaHerentzia/nbproject/private/
/UD3/03-FutbolaHerentzia/nbproject/private/
/UD3/03-FutbolaHerentzia/build/
/UD3/04-Monstruoak/build/
/UD3/04-Monstruoak/nbproject/private/
/UD3/05-Erosketak/nbproject/private/
/UD3/05-Erosketak/build/
/UD3/2020-02-18Hasierakoa/nbproject/private/
/UD3/2020-02-18Hasierakoa/build/
/UD3/2020-02-18HasierakoaGehigarria/build/
/UD3/2020-02-18HasierakoaGehigarria/nbproject/private/
/UD3/2020-02-18HasierakoaErrepasoa/nbproject/private/
/UD3/2020-02-18HasierakoaErrepasoaGehigarria/nbproject/private/
/UD3/2020-02-18HasierakoaErrepasoaGehigarria/build/
/UD3/Errepasoa/nbproject/private/
/UD3/2022-02-24-Aitzol/nbproject/private/
/UD3/2022-02-24-Aitzol/build/
/UD3/2022-02-24-Aitzol - copia/build/
/UD3/2022-02-24-Aitzol - copia/nbproject/private/
